src/conf/xml-resources/web-service-references/ServerSoapService/wsdl/localhost_8080/trabalhoSD/ServerSoapService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://serversoap.sd.upf.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serversoap.sd.upf.br/">

<xs:element name="Consulta" type="tns:Consulta"/>

<xs:element name="ConsultaResponse" type="tns:ConsultaResponse"/>

<xs:complexType name="Consulta">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaResponse">
<xs:sequence>
<xs:element name="return" type="tns:carro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carro">
<xs:sequence>
<xs:element name="ano" type="xs:int" minOccurs="0"/>
<xs:element name="carga" type="xs:float" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="complemento" type="xs:string" minOccurs="0"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="modelo" type="xs:string" minOccurs="0"/>
<xs:element name="potencia" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>