web/WEB-INF/wsdl/localhost_8080/trabalhoSD/ServerSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serversoap.sd.upf.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serversoap.sd.upf.br/" name="ServerSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://serversoap.sd.upf.br/" schemaLocation="http://localhost:8080/trabalhoSD/ServerSoapService?xsd=1"/>
</xsd:schema>
</types>
<message name="Excluir">
<part name="parameters" element="tns:Excluir"/>
</message>
<message name="ExcluirResponse">
<part name="parameters" element="tns:ExcluirResponse"/>
</message>
<message name="Consulta">
<part name="parameters" element="tns:Consulta"/>
</message>
<message name="ConsultaResponse">
<part name="parameters" element="tns:ConsultaResponse"/>
</message>
<message name="Adiciona">
<part name="parameters" element="tns:Adiciona"/>
</message>
<message name="AdicionaResponse">
<part name="parameters" element="tns:AdicionaResponse"/>
</message>
<portType name="ServerSoap">
<operation name="Excluir">
<input wsam:Action="http://serversoap.sd.upf.br/ServerSoap/ExcluirRequest" message="tns:Excluir"/>
<output wsam:Action="http://serversoap.sd.upf.br/ServerSoap/ExcluirResponse" message="tns:ExcluirResponse"/>
</operation>
<operation name="Consulta">
<input wsam:Action="http://serversoap.sd.upf.br/ServerSoap/ConsultaRequest" message="tns:Consulta"/>
<output wsam:Action="http://serversoap.sd.upf.br/ServerSoap/ConsultaResponse" message="tns:ConsultaResponse"/>
</operation>
<operation name="Adiciona">
<input wsam:Action="http://serversoap.sd.upf.br/ServerSoap/AdicionaRequest" message="tns:Adiciona"/>
<output wsam:Action="http://serversoap.sd.upf.br/ServerSoap/AdicionaResponse" message="tns:AdicionaResponse"/>
</operation>
</portType>
<binding name="ServerSoapPortBinding" type="tns:ServerSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Excluir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Adiciona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerSoapService">
<port name="ServerSoapPort" binding="tns:ServerSoapPortBinding">
<soap:address location="http://localhost:8080/trabalhoSD/ServerSoapService"/>
</port>
</service>
</definitions>